@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#1f2833),
    color-stop(#0b0c10),
    to(black)
  );
  background-image: linear-gradient(to bottom left, #1f2833, #0b0c10, black);
}

#stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 1324px 718px #fff, 1929px 1475px #fff, 1717px 1226px #fff,
    1858px 174px #fff, 383px 416px #fff, 1538px 1366px #fff, 911px 432px #fff,
    1851px 1720px #fff, 532px 1795px #fff, 409px 364px #fff, 150px 1313px #fff,
    840px 1901px #fff, 1761px 1339px #fff, 192px 245px #fff, 1525px 1289px #fff,
    124px 262px #fff, 32px 916px #fff, 705px 1911px #fff, 1710px 247px #fff,
    1812px 1828px #fff, 1141px 483px #fff, 443px 190px #fff, 1896px 1584px #fff,
    1981px 608px #fff, 1327px 1133px #fff, 377px 420px #fff, 64px 1143px #fff,
    477px 1211px #fff, 504px 634px #fff, 1562px 436px #fff, 1351px 510px #fff,
    638px 683px #fff, 1278px 383px #fff, 828px 1087px #fff, 894px 69px #fff,
    484px 628px #fff, 287px 531px #fff, 1535px 795px #fff, 1835px 1836px #fff,
    760px 1185px #fff, 1649px 1841px #fff, 1288px 1103px #fff, 1576px 540px #fff,
    489px 1355px #fff, 1439px 1819px #fff, 445px 165px #fff, 1269px 477px #fff,
    173px 1814px #fff, 1855px 364px #fff, 840px 836px #fff, 1531px 1985px #fff,
    622px 837px #fff, 1156px 299px #fff, 1423px 1171px #fff, 1921px 340px #fff,
    1694px 1238px #fff, 1221px 1638px #fff, 1643px 1471px #fff,
    649px 1114px #fff, 118px 1650px #fff, 1569px 1103px #fff, 243px 1264px #fff,
    442px 1015px #fff, 748px 339px #fff, 1140px 1985px #fff, 444px 1836px #fff,
    1920px 1072px #fff, 681px 1264px #fff, 430px 1160px #fff, 958px 1529px #fff,
    457px 115px #fff, 1190px 548px #fff, 1795px 1183px #fff, 479px 1817px #fff,
    1648px 387px #fff, 1738px 1998px #fff, 1323px 657px #fff, 796px 637px #fff,
    1253px 605px #fff, 942px 1524px #fff, 1825px 1544px #fff, 1481px 3px #fff;
  box-shadow: 1324px 718px #fff, 1929px 1475px #fff, 1717px 1226px #fff,
    1858px 174px #fff, 383px 416px #fff, 1538px 1366px #fff, 911px 432px #fff,
    1851px 1720px #fff, 532px 1795px #fff, 409px 364px #fff, 150px 1313px #fff,
    840px 1901px #fff, 1761px 1339px #fff, 192px 245px #fff, 1525px 1289px #fff,
    124px 262px #fff, 32px 916px #fff, 705px 1911px #fff, 1710px 247px #fff,
    1812px 1828px #fff, 1141px 483px #fff, 443px 190px #fff, 1896px 1584px #fff,
    1981px 608px #fff, 1327px 1133px #fff, 377px 420px #fff, 64px 1143px #fff,
    477px 1211px #fff, 504px 634px #fff, 1562px 436px #fff, 1351px 510px #fff,
    638px 683px #fff, 1278px 383px #fff, 828px 1087px #fff, 894px 69px #fff,
    484px 628px #fff, 287px 531px #fff, 1535px 795px #fff, 1835px 1836px #fff,
    760px 1185px #fff, 1649px 1841px #fff, 1288px 1103px #fff, 1576px 540px #fff,
    489px 1355px #fff, 1439px 1819px #fff, 445px 165px #fff, 1269px 477px #fff,
    173px 1814px #fff, 1855px 364px #fff, 840px 836px #fff, 1531px 1985px #fff,
    622px 837px #fff, 1156px 299px #fff, 1423px 1171px #fff, 1921px 340px #fff,
    1694px 1238px #fff, 1221px 1638px #fff, 1643px 1471px #fff,
    649px 1114px #fff, 118px 1650px #fff, 1569px 1103px #fff, 243px 1264px #fff,
    442px 1015px #fff, 748px 339px #fff, 1140px 1985px #fff, 444px 1836px #fff,
    1920px 1072px #fff, 681px 1264px #fff, 430px 1160px #fff, 958px 1529px #fff,
    457px 115px #fff, 1190px 548px #fff, 1795px 1183px #fff, 479px 1817px #fff,
    1648px 387px #fff, 1738px 1998px #fff, 1323px 657px #fff, 796px 637px #fff,
    1253px 605px #fff, 942px 1524px #fff, 1825px 1544px #fff, 1481px 3px #fff;
  -webkit-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

#stars1 :after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 1324px 718px #fff, 1929px 1475px #fff, 1717px 1226px #fff,
    1858px 174px #fff, 383px 416px #fff, 1538px 1366px #fff, 911px 432px #fff,
    1851px 1720px #fff, 532px 1795px #fff, 409px 364px #fff, 150px 1313px #fff,
    840px 1901px #fff, 1761px 1339px #fff, 192px 245px #fff, 1525px 1289px #fff,
    124px 262px #fff, 32px 916px #fff, 705px 1911px #fff, 1710px 247px #fff,
    1812px 1828px #fff, 1141px 483px #fff, 443px 190px #fff, 1896px 1584px #fff,
    1981px 608px #fff, 1327px 1133px #fff, 377px 420px #fff, 64px 1143px #fff,
    477px 1211px #fff, 504px 634px #fff, 1562px 436px #fff, 1351px 510px #fff,
    638px 683px #fff, 1278px 383px #fff, 828px 1087px #fff, 894px 69px #fff,
    484px 628px #fff, 287px 531px #fff, 1535px 795px #fff, 1835px 1836px #fff,
    760px 1185px #fff, 1649px 1841px #fff, 1288px 1103px #fff, 1576px 540px #fff,
    489px 1355px #fff, 1439px 1819px #fff, 445px 165px #fff, 1269px 477px #fff,
    173px 1814px #fff, 1855px 364px #fff, 840px 836px #fff, 1531px 1985px #fff,
    622px 837px #fff, 1156px 299px #fff, 1423px 1171px #fff, 1921px 340px #fff,
    1694px 1238px #fff, 1221px 1638px #fff, 1643px 1471px #fff,
    649px 1114px #fff, 118px 1650px #fff, 1569px 1103px #fff, 243px 1264px #fff,
    442px 1015px #fff, 748px 339px #fff, 1140px 1985px #fff, 444px 1836px #fff,
    1920px 1072px #fff, 681px 1264px #fff, 430px 1160px #fff, 958px 1529px #fff,
    457px 115px #fff, 1190px 548px #fff, 1795px 1183px #fff, 479px 1817px #fff,
    1648px 387px #fff, 1738px 1998px #fff, 1323px 657px #fff, 796px 637px #fff;
  box-shadow: 1324px 718px #fff, 1929px 1475px #fff, 1717px 1226px #fff,
    1858px 174px #fff, 383px 416px #fff, 1538px 1366px #fff, 911px 432px #fff,
    1851px 1720px #fff, 532px 1795px #fff, 409px 364px #fff, 150px 1313px #fff,
    840px 1901px #fff, 1761px 1339px #fff, 192px 245px #fff, 1525px 1289px #fff,
    124px 262px #fff, 32px 916px #fff, 705px 1911px #fff, 1710px 247px #fff,
    1812px 1828px #fff, 1141px 483px #fff, 443px 190px #fff, 1896px 1584px #fff,
    1981px 608px #fff, 1327px 1133px #fff, 377px 420px #fff, 64px 1143px #fff,
    477px 1211px #fff, 504px 634px #fff, 1562px 436px #fff, 1351px 510px #fff,
    638px 683px #fff, 1278px 383px #fff, 828px 1087px #fff, 894px 69px #fff,
    484px 628px #fff, 287px 531px #fff, 1535px 795px #fff, 1835px 1836px #fff,
    760px 1185px #fff, 1649px 1841px #fff, 1288px 1103px #fff, 1576px 540px #fff,
    489px 1355px #fff, 1439px 1819px #fff, 445px 165px #fff, 1269px 477px #fff,
    173px 1814px #fff, 1855px 364px #fff, 840px 836px #fff, 1531px 1985px #fff,
    622px 837px #fff, 1156px 299px #fff, 1423px 1171px #fff, 1921px 340px #fff,
    1694px 1238px #fff, 1221px 1638px #fff, 1643px 1471px #fff,
    649px 1114px #fff, 118px 1650px #fff, 1569px 1103px #fff, 243px 1264px #fff,
    442px 1015px #fff, 748px 339px #fff, 1140px 1985px #fff, 444px 1836px #fff,
    1920px 1072px #fff, 681px 1264px #fff, 430px 1160px #fff, 958px 1529px #fff,
    457px 115px #fff, 1190px 548px #fff, 1795px 1183px #fff, 479px 1817px #fff,
    1648px 387px #fff, 1738px 1998px #fff, 1323px 657px #fff, 796px 637px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 137px 289px #fff, 1347px 456px #fff, 714px 680px #fff,
    926px 1499px #fff, 154px 1026px #fff, 644px 1203px #fff, 1240px 1641px #fff,
    1622px 1952px #fff, 333px 1852px #fff, 989px 1445px #fff, 1395px 1275px #fff,
    972px 854px #fff, 1863px 1207px #fff, 394px 1793px #fff, 549px 439px #fff,
    835px 558px #fff, 1688px 1261px #fff, 1906px 814px #fff, 563px 1298px #fff,
    1488px 1823px #fff, 895px 1px #fff, 1735px 471px #fff, 127px 565px #fff,
    1629px 837px #fff, 915px 150px #fff, 527px 1292px #fff, 931px 1386px #fff,
    1735px 1858px #fff, 1440px 1063px #fff, 514px 1063px #fff, 1966px 147px #fff,
    1071px 1839px #fff, 1847px 1106px #fff, 1770px 639px #fff,
    1998px 1071px #fff, 834px 1266px #fff, 1331px 246px #fff, 12px 952px #fff,
    717px 1304px #fff, 360px 337px #fff, 1277px 356px #fff, 162px 646px #fff,
    1527px 689px #fff, 1599px 218px #fff, 909px 246px #fff, 1174px 1020px #fff,
    693px 337px #fff, 802px 684px #fff, 821px 73px #fff, 149px 698px #fff,
    1198px 1357px #fff, 1798px 1341px #fff, 1109px 1825px #fff,
    1079px 719px #fff, 727px 1226px #fff, 1778px 1752px #fff, 1087px 1618px #fff,
    1375px 715px #fff, 1346px 1601px #fff, 1078px 1340px #fff, 789px 967px #fff,
    76px 44px #fff, 605px 1291px #fff, 839px 1607px #fff, 1253px 565px #fff,
    720px 1690px #fff, 1893px 1853px #fff, 53px 757px #fff, 501px 1522px #fff,
    1153px 284px #fff, 152px 1497px #fff, 288px 314px #fff, 216px 1289px #fff,
    1900px 1702px #fff, 12px 1866px #fff, 1350px 1255px #fff, 341px 1800px #fff,
    1931px 865px #fff, 742px 1868px #fff, 703px 1924px #fff, 1482px 550px #fff;
  box-shadow: 137px 289px #fff, 1347px 456px #fff, 714px 680px #fff,
    926px 1499px #fff, 154px 1026px #fff, 644px 1203px #fff, 1240px 1641px #fff,
    1622px 1952px #fff, 333px 1852px #fff, 989px 1445px #fff, 1395px 1275px #fff,
    972px 854px #fff, 1863px 1207px #fff, 394px 1793px #fff, 549px 439px #fff,
    835px 558px #fff, 1688px 1261px #fff, 1906px 814px #fff, 563px 1298px #fff,
    1488px 1823px #fff, 895px 1px #fff, 1735px 471px #fff, 127px 565px #fff,
    1629px 837px #fff, 915px 150px #fff, 527px 1292px #fff, 931px 1386px #fff,
    1735px 1858px #fff, 1440px 1063px #fff, 514px 1063px #fff, 1966px 147px #fff,
    1071px 1839px #fff, 1847px 1106px #fff, 1770px 639px #fff,
    1998px 1071px #fff, 834px 1266px #fff, 1331px 246px #fff, 12px 952px #fff,
    717px 1304px #fff, 360px 337px #fff, 1277px 356px #fff, 162px 646px #fff,
    1527px 689px #fff, 1599px 218px #fff, 909px 246px #fff, 1174px 1020px #fff,
    693px 337px #fff, 802px 684px #fff, 821px 73px #fff, 149px 698px #fff,
    1198px 1357px #fff, 1798px 1341px #fff, 1109px 1825px #fff,
    1079px 719px #fff, 727px 1226px #fff, 1778px 1752px #fff, 1087px 1618px #fff,
    1375px 715px #fff, 1346px 1601px #fff, 1078px 1340px #fff, 789px 967px #fff,
    76px 44px #fff, 605px 1291px #fff, 839px 1607px #fff, 1253px 565px #fff,
    720px 1690px #fff, 1893px 1853px #fff, 53px 757px #fff, 501px 1522px #fff,
    1153px 284px #fff, 152px 1497px #fff, 288px 314px #fff, 216px 1289px #fff,
    1900px 1702px #fff, 12px 1866px #fff, 1350px 1255px #fff, 341px 1800px #fff,
    1931px 865px #fff, 742px 1868px #fff, 703px 1924px #fff, 1482px 550px #fff;
  -webkit-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 137px 289px #fff, 1347px 456px #fff, 714px 680px #fff,
    926px 1499px #fff, 154px 1026px #fff, 644px 1203px #fff, 1240px 1641px #fff,
    1622px 1952px #fff, 333px 1852px #fff, 989px 1445px #fff, 1395px 1275px #fff,
    972px 854px #fff, 1863px 1207px #fff, 394px 1793px #fff, 549px 439px #fff,
    835px 558px #fff, 1688px 1261px #fff, 1906px 814px #fff, 563px 1298px #fff,
    1488px 1823px #fff, 895px 1px #fff, 1735px 471px #fff, 127px 565px #fff,
    1629px 837px #fff, 915px 150px #fff, 527px 1292px #fff, 931px 1386px #fff,
    1735px 1858px #fff, 1440px 1063px #fff, 514px 1063px #fff, 1966px 147px #fff,
    1071px 1839px #fff, 1847px 1106px #fff, 1770px 639px #fff,
    1998px 1071px #fff, 834px 1266px #fff, 1331px 246px #fff, 12px 952px #fff,
    717px 1304px #fff, 360px 337px #fff, 1277px 356px #fff, 162px 646px #fff,
    1527px 689px #fff, 1599px 218px #fff, 909px 246px #fff, 1174px 1020px #fff,
    693px 337px #fff, 802px 684px #fff, 821px 73px #fff, 149px 698px #fff,
    1198px 1357px #fff, 1798px 1341px #fff, 1109px 1825px #fff,
    1079px 719px #fff, 727px 1226px #fff, 1778px 1752px #fff, 1087px 1618px #fff,
    1375px 715px #fff, 1346px 1601px #fff, 1078px 1340px #fff, 789px 967px #fff,
    76px 44px #fff, 605px 1291px #fff, 839px 1607px #fff, 1253px 565px #fff,
    720px 1690px #fff, 1893px 1853px #fff, 53px 757px #fff, 501px 1522px #fff,
    1153px 284px #fff, 152px 1497px #fff, 288px 314px #fff, 216px 1289px #fff,
    1900px 1702px #fff, 12px 1866px #fff, 1350px 1255px #fff, 341px 1800px #fff,
    1931px 865px #fff, 742px 1868px #fff, 703px 1924px #fff, 1482px 550px #fff;
  box-shadow: 137px 289px #fff, 1347px 456px #fff, 714px 680px #fff,
    926px 1499px #fff, 154px 1026px #fff, 644px 1203px #fff, 1240px 1641px #fff,
    1622px 1952px #fff, 333px 1852px #fff, 989px 1445px #fff, 1395px 1275px #fff,
    972px 854px #fff, 1863px 1207px #fff, 394px 1793px #fff, 549px 439px #fff,
    835px 558px #fff, 1688px 1261px #fff, 1906px 814px #fff, 563px 1298px #fff,
    1488px 1823px #fff, 895px 1px #fff, 1735px 471px #fff, 127px 565px #fff,
    1629px 837px #fff, 915px 150px #fff, 527px 1292px #fff, 931px 1386px #fff,
    1735px 1858px #fff, 1440px 1063px #fff, 514px 1063px #fff, 1966px 147px #fff,
    1071px 1839px #fff, 1847px 1106px #fff, 1770px 639px #fff,
    1998px 1071px #fff, 834px 1266px #fff, 1331px 246px #fff, 12px 952px #fff,
    717px 1304px #fff, 360px 337px #fff, 1277px 356px #fff, 162px 646px #fff,
    1527px 689px #fff, 1599px 218px #fff, 909px 246px #fff, 1174px 1020px #fff,
    693px 337px #fff, 802px 684px #fff, 821px 73px #fff, 149px 698px #fff,
    1198px 1357px #fff, 1798px 1341px #fff, 1109px 1825px #fff,
    1079px 719px #fff, 727px 1226px #fff, 1778px 1752px #fff, 1087px 1618px #fff,
    1375px 715px #fff, 1346px 1601px #fff, 1078px 1340px #fff, 789px 967px #fff,
    76px 44px #fff, 605px 1291px #fff, 839px 1607px #fff, 1253px 565px #fff,
    720px 1690px #fff, 1893px 1853px #fff, 53px 757px #fff, 501px 1522px #fff,
    1153px 284px #fff, 152px 1497px #fff, 288px 314px #fff, 216px 1289px #fff,
    1900px 1702px #fff, 12px 1866px #fff, 1350px 1255px #fff, 341px 1800px #fff,
    1931px 865px #fff, 742px 1868px #fff, 703px 1924px #fff, 1482px 550px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 748px 1447px #fff, 855px 1792px #fff, 1734px 880px #fff,
    1292px 168px #fff, 1819px 563px #fff, 999px 1518px #fff, 1111px 1266px #fff,
    1762px 1547px #fff, 240px 1530px #fff, 1859px 129px #fff, 661px 1312px #fff,
    1567px 1500px #fff, 51px 466px #fff, 103px 1063px #fff, 578px 313px #fff,
    180px 757px #fff, 593px 1921px #fff, 237px 1728px #fff, 194px 224px #fff,
    1135px 1618px #fff, 650px 1024px #fff, 1714px 786px #fff, 1584px 612px #fff,
    1690px 658px #fff, 1514px 1019px #fff, 1608px 1365px #fff,
    1926px 1534px #fff, 29px 380px #fff, 1915px 299px #fff, 296px 1376px #fff,
    1936px 774px #fff, 1406px 319px #fff, 316px 1173px #fff, 975px 1366px #fff,
    297px 1807px #fff, 1518px 541px #fff, 1193px 604px #fff, 856px 1180px #fff,
    1646px 1748px #fff, 444px 1482px #fff, 1108px 743px #fff, 241px 875px #fff,
    1690px 738px #fff, 1157px 611px #fff, 173px 1428px #fff, 1427px 676px #fff,
    1815px 738px #fff, 918px 1843px #fff, 728px 37px #fff, 329px 931px #fff,
    441px 637px #fff, 101px 957px #fff, 1058px 1259px #fff, 772px 958px #fff,
    663px 865px #fff, 558px 403px #fff, 457px 895px #fff, 1498px 1px #fff,
    1665px 1942px #fff, 234px 1613px #fff, 1284px 86px #fff, 1872px 1364px #fff,
    1824px 1265px #fff, 625px 1862px #fff, 1960px 610px #fff, 30px 436px #fff,
    208px 1011px #fff, 1430px 1377px #fff, 299px 59px #fff, 1710px 1531px #fff,
    1509px 1776px #fff, 1737px 1548px #fff, 330px 517px #fff, 1143px 1286px #fff,
    280px 1569px #fff, 1134px 801px #fff, 1057px 1341px #fff, 1734px 181px #fff,
    456px 1532px #fff, 177px 383px #fff, 41px 1785px #fff, 622px 1642px #fff;
  box-shadow: 748px 1447px #fff, 855px 1792px #fff, 1734px 880px #fff,
    1292px 168px #fff, 1819px 563px #fff, 999px 1518px #fff, 1111px 1266px #fff,
    1762px 1547px #fff, 240px 1530px #fff, 1859px 129px #fff, 661px 1312px #fff,
    1567px 1500px #fff, 51px 466px #fff, 103px 1063px #fff, 578px 313px #fff,
    180px 757px #fff, 593px 1921px #fff, 237px 1728px #fff, 194px 224px #fff,
    1135px 1618px #fff, 650px 1024px #fff, 1714px 786px #fff, 1584px 612px #fff,
    1690px 658px #fff, 1514px 1019px #fff, 1608px 1365px #fff,
    1926px 1534px #fff, 29px 380px #fff, 1915px 299px #fff, 296px 1376px #fff,
    1936px 774px #fff, 1406px 319px #fff, 316px 1173px #fff, 975px 1366px #fff,
    297px 1807px #fff, 1518px 541px #fff, 1193px 604px #fff, 856px 1180px #fff,
    1646px 1748px #fff, 444px 1482px #fff, 1108px 743px #fff, 241px 875px #fff,
    1690px 738px #fff, 1157px 611px #fff, 173px 1428px #fff, 1427px 676px #fff,
    1815px 738px #fff, 918px 1843px #fff, 728px 37px #fff, 329px 931px #fff,
    441px 637px #fff, 101px 957px #fff, 1058px 1259px #fff, 772px 958px #fff,
    663px 865px #fff, 558px 403px #fff, 457px 895px #fff, 1498px 1px #fff,
    1665px 1942px #fff, 234px 1613px #fff, 1284px 86px #fff, 1872px 1364px #fff,
    1824px 1265px #fff, 625px 1862px #fff, 1960px 610px #fff, 30px 436px #fff,
    208px 1011px #fff, 1430px 1377px #fff, 299px 59px #fff, 1710px 1531px #fff,
    1509px 1776px #fff, 1737px 1548px #fff, 330px 517px #fff, 1143px 1286px #fff,
    280px 1569px #fff, 1134px 801px #fff, 1057px 1341px #fff, 1734px 181px #fff,
    456px 1532px #fff, 177px 383px #fff, 41px 1785px #fff, 622px 1642px #fff;
  -webkit-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 748px 1447px #fff, 855px 1792px #fff, 1734px 880px #fff,
    1292px 168px #fff, 1819px 563px #fff, 999px 1518px #fff, 1111px 1266px #fff,
    1762px 1547px #fff, 240px 1530px #fff, 1859px 129px #fff, 661px 1312px #fff,
    1567px 1500px #fff, 51px 466px #fff, 103px 1063px #fff, 578px 313px #fff,
    180px 757px #fff, 593px 1921px #fff, 237px 1728px #fff, 194px 224px #fff,
    1135px 1618px #fff, 650px 1024px #fff, 1714px 786px #fff, 1584px 612px #fff,
    1690px 658px #fff, 1514px 1019px #fff, 1608px 1365px #fff,
    1926px 1534px #fff, 29px 380px #fff, 1915px 299px #fff, 296px 1376px #fff,
    1936px 774px #fff, 1406px 319px #fff, 316px 1173px #fff, 975px 1366px #fff,
    297px 1807px #fff, 1518px 541px #fff, 1193px 604px #fff, 856px 1180px #fff,
    1646px 1748px #fff, 444px 1482px #fff, 1108px 743px #fff, 241px 875px #fff,
    1690px 738px #fff, 1157px 611px #fff, 173px 1428px #fff, 1427px 676px #fff,
    1815px 738px #fff, 918px 1843px #fff, 728px 37px #fff, 329px 931px #fff,
    441px 637px #fff, 101px 957px #fff, 1058px 1259px #fff, 772px 958px #fff,
    663px 865px #fff, 558px 403px #fff, 457px 895px #fff, 1498px 1px #fff,
    1665px 1942px #fff, 234px 1613px #fff, 1284px 86px #fff, 1872px 1364px #fff,
    1824px 1265px #fff, 625px 1862px #fff, 1960px 610px #fff, 30px 436px #fff,
    208px 1011px #fff, 1430px 1377px #fff, 299px 59px #fff, 1710px 1531px #fff,
    1509px 1776px #fff, 1737px 1548px #fff, 330px 517px #fff, 1143px 1286px #fff,
    280px 1569px #fff, 1134px 801px #fff, 1057px 1341px #fff, 1734px 181px #fff,
    456px 1532px #fff, 177px 383px #fff, 41px 1785px #fff, 622px 1642px #fff;
  box-shadow: 748px 1447px #fff, 855px 1792px #fff, 1734px 880px #fff,
    1292px 168px #fff, 1819px 563px #fff, 999px 1518px #fff, 1111px 1266px #fff,
    1762px 1547px #fff, 240px 1530px #fff, 1859px 129px #fff, 661px 1312px #fff,
    1567px 1500px #fff, 51px 466px #fff, 103px 1063px #fff, 578px 313px #fff,
    180px 757px #fff, 593px 1921px #fff, 237px 1728px #fff, 194px 224px #fff,
    1135px 1618px #fff, 650px 1024px #fff, 1714px 786px #fff, 1584px 612px #fff,
    1690px 658px #fff, 1514px 1019px #fff, 1608px 1365px #fff,
    1926px 1534px #fff, 29px 380px #fff, 1915px 299px #fff, 296px 1376px #fff,
    1936px 774px #fff, 1406px 319px #fff, 316px 1173px #fff, 975px 1366px #fff,
    297px 1807px #fff, 1518px 541px #fff, 1193px 604px #fff, 856px 1180px #fff,
    1646px 1748px #fff, 444px 1482px #fff, 1108px 743px #fff, 241px 875px #fff,
    1690px 738px #fff, 1157px 611px #fff, 173px 1428px #fff, 1427px 676px #fff,
    1815px 738px #fff, 918px 1843px #fff, 728px 37px #fff, 329px 931px #fff,
    441px 637px #fff, 101px 957px #fff, 1058px 1259px #fff, 772px 958px #fff,
    663px 865px #fff, 558px 403px #fff, 457px 895px #fff, 1498px 1px #fff,
    1665px 1942px #fff, 234px 1613px #fff, 1284px 86px #fff, 1872px 1364px #fff,
    1824px 1265px #fff, 625px 1862px #fff, 1960px 610px #fff, 30px 436px #fff,
    208px 1011px #fff, 1430px 1377px #fff, 299px 59px #fff, 1710px 1531px #fff,
    1509px 1776px #fff, 1737px 1548px #fff, 330px 517px #fff, 1143px 1286px #fff,
    280px 1569px #fff, 1134px 801px #fff, 1057px 1341px #fff, 1734px 181px #fff,
    456px 1532px #fff, 177px 383px #fff, 41px 1785px #fff, 622px 1642px #fff;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
